        
        
        #hero{
            background-image: url(./assets/DAM-6.jpg);
            height: 60vh;
            background-position: center;
            background-attachment: fixed;
            width:95vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        

        h1{
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
            color: red;
            font-size: 70px;
            position: absolute;
            top: 0px;


        }

        nav{
            display: flex;
            width: 95vw;
            height: 5vh;
            border: 1px solid blue;
            justify-content: space-around;
            align-items: center;
            color: black;
            background-color:rgb(97, 97, 245);
            position: absolute;
            top: 440px;
        }

        body{
            height: 200vh;
        }

        h2{
            text-align: center;
            margin-bottom: 50px;
        }

        p{
            text-align: center;
        }

        h3{
            text-align: center;
            margin-bottom: 25px;
        }
        .container{
            display: flex;
            align-items: space-between;
            justify-content: center;
        }
        .text-left, .text-right{
            flex-basis: 20%;
            padding: 5px;
        }
        .image-middle{
            flex-basis: 60%;
            width: 100%;
            height: auto;         
            object-fit: cover;
        }

        label{
            margin-bottom: 15px;
        }

        input{
            display: block;
            margin-bottom: 15px;
        }
        #first-name:hover{
            border: 2px solid blue;            
        }
        #last-name:hover{
            border: 2px solid blue;
        }
        #phone-number:hover{
            border-color: red;
        }
        #user-name{

        }
        #password:focus{
            outline: none !important;
            border: 2px orangered;
        }
        #confirm-password:focus{
            outline: none;
            border: 2px purple !important;
        }


        .logo{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 20%;
        }


        


        

    
