        
        
        #hero{
            background-image: url(./assets/DAM-6.jpg);
            height: 60vh;
            background-position: center;
            background-attachment: fixed;
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        

        h1{
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
            color: red;
            font-size: 70px;
            position: absolute;
            top: 0;


        }

        nav{
            display: flex;
            width: 100vw;
            height: 5vh;
            border: 1px solid blue;
            justify-content: space-around;
            align-items: center;
            color: black;
            background-color:rgb(97, 97, 245);
            position: absolute;
            top: 440px;
            font: 1em sans-serif;
        }

        body{
            height: 200vh;
        }

        h2{
            text-align: center;
            margin-bottom: 50px;
            font-family: Arial, Helvetica, sans-serif;
        }

        p{
            text-align: center;
        }

        h3{
            text-align: center;
            margin-bottom: 25px;
        }
        .container{
            display: flex;
            justify-content: space-around;
            flex-basis: 30%;
            padding: 5px;
        }

        .text1{
            width: 400px;
        }

        label{
            margin-bottom: 15px;
        }

        input{
            display: block;
            margin-bottom: 15px;
        }
        #first-name:hover{
            border: 2px solid blue;
            color: red;            
        }
        #last-name:hover{
            border: 2px solid blue;
            color: red;
        }
        #date:hover{
            border-color: red;
            color: blue;
        }
        #phone-number:hover{
            border-color: red;
            color: blue;
        }
        #email{

        }
        #user-name{

        }
        #password:focus{
            outline: none !important;
            border: 2px orangered;
        }
        #confirm-password:focus{
            outline: none;
            border: 2px purple !important;
        }


        .logo{
            background-image: url(./assets/USDAA.Purina-logo.jpg);
            background-repeat: no-repeat;
            margin-left: 185px;
            flex-basis: 100%;
            max-width: 100%;
        }

        .text2{
            width: 400px;
        }

        #referral{

        }

        #radio-group{

        }

        #checkbox-group{

        }

        

          


        


        

    
